




body {
  margin: 0;
  padding: 0;
  color: #fffdfd;
  font-family: sans-serif; /*esse comando tira a serifa das fontes*/
  word-wrap: break-word;
  overflow-wrap: break-word;/*essas duas clausulas e para depois quando coloca o o tamnho do container 
  se ele chegar no final o texto vai quebrar a linha e não almentar o container quebrando a largura dele */
}

h1, h2,h4, h5, h6 {
  font-weight: 900;/*black negrito*/
  color: black;
}
h3{
  font-weight: 900;
  color: white;
}

.wrapper {
  width: 100%;/*vai ter uma largura de 100 % da tela */
  margin: 0 auto; /*zero cima e em baixo e altomatico na esquerda e na direita
  ou seja vai espaça o mesmo tanto na esquerda e na direita  */
}

main {
  display: block;
  background-color: white;
}

.container {
  width: 100%;
  max-width: 760px;
  margin: 0 auto; /* espaçamento na esquerda e na direita para centralisar */
  padding: 0 20px; /* na esquerda e na direita */
}

section.module p {
  margin-bottom: 40px;
}

section.module:last-child {
  margin-bottom: 0;
}

section.module h2 {
  margin-bottom: 40px;
  font-size: 30px;
}



section.module.content {
  display: flex; /* Adicionado: Torna o contêiner flexível */
  flex-direction: column; /* Os itens serão dispostos em coluna */
  align-items: center; /* Adicionado: Centraliza verticalmente */
  justify-content: center; /* Adicionado: Centraliza horizontalmente */
  padding: 40px 0;
  background: #121224;
}

section.module.parallax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh !important;
  width: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed; /*cria o efeito parallax*/
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}

section.module.parallax:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 8;
  background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 40%, #000 100%);
  background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 40%, #000 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 40%, #000 100%);
}

section.module.parallax-1 {
  background-image: url(4k\ death.jpg);
}

section.module.parallax-2 {
  background-image: url(5k.jpg);
}

section.module.parallax-3 {
  background-image: url(6k.jpg);
}

section.module.parallax h1 {
  color: white;
  text-align: center;
  font-size: 78px;
  z-index: 50;
  text-transform: uppercase;
}

.btn{
padding: 10px 8px;/*prenchimento  10px para cime e para baixo e 8 para um lado e outro*/
width: 50px;/*largura de 50px*/
color: #fff;
background: green;
border: 1px solid #555;
border-radius: 5px;
text-align: center;
user-select: none;
cursor: pointer;
transition: background 1s;


}

.btn:hover{
  background: rgb(31, 218, 31);

}

a{
  text-decoration: none;
  
}

